{% if error %}
  <p style="color:red">{{ error }}</p>
  <a href="/hello">Try again</a><br>

{% elif name %}
  <h1>Welcome, {{name}}! You are registered.</h1>
  <a href="/">Back to main page</a>

{% elif name_exists %}
  <h1>Name "{{ name_exists }} is already registered."</h1>
  <a href="/hello">Try another name</a><br>
  <a href="/">Back to main page</a>
{% endif %}

{% if not name and not name_exists and not error %}
  <h1>Register</h1>
  <form method="POST">
      <input type="text" name="name" required>
      <input type="submit" value="Register">
  </form>
  <a href="/hello">Try again</a><br>
  <a href="/">Back to main page</a><br>
{% endif %}
